<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>

{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show alerts" role="alert">

    <strong>Message:"</strong> {{ message }}
    <span aria-hidden="true">&times</span>

</div>
{% endfor %}



    <form action="/signup" method="post">
    {% csrf_token %}
        <div id="main-container" class="centered-flex">
        <div class="form-container">
            <div class="icon centered-flex"><i class="fa fa-user"></i></div>
            <div class="title">SignUp</div>
            <form id="login-form" class="centered-flex">
                <div class="msg"></div>
                <div class="field">
                    <input type="text" id="username" name="username" placeholder="Username" required>
                    <i class="fa fa-user"></i>
                </div>
                <div class="field">
                    <input type="text" id="fname" name="fname" placeholder="First Name" required>
                    <i class="fa fa-user"></i>
                </div>
                <div class="field">
                    <input type="text" id="lname" name="lname" placeholder="Last Name" required>
                    <i class="fa fa-user"></i>
                </div>
                <div class="field">
                    <input type="email" id="email" name="email" placeholder="E-mail Address" required>
                    <i class="fa fa-user"></i>
                </div>
                <div class="field">
                    <input type="password" id="pass1" name="pass1" placeholder="Password" required>
                    <i class="fa fa-lock"></i>
                </div>
                <div class="field">
                    <input type="password" id="pass2" name="pass2" placeholder="Confirm Password" required>
                    <i class="fa fa-lock"></i>
                </div>
                <div class="btn-container"><button type="submit" id="btn">Register</button></div>
                <div class="signup">Do you have an Account?<a href="signin"> Sign in</a></div>
            </form>
        </div>
        </div>
    </form>



</body>
</html>