<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Drawing</title>
    <link rel="stylesheet" href="{% static 'css/drawing.css' %}">
    <script defer src="{% static 'js/drawing/drawing.js' %}"></script>
    <script defer src="{% static 'js/drawing/instructions.js' %}"></script>
    <script defer src="{% static 'js/drawing/draggable.js' %}"></script>
    <script defer src="{% static 'js/drawing/download_schematic.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>
</head>

<body>

<button id="instructionButton">?</button>
<div id="instructionModal" class="modal">
    <div class="modal-content">
        <h2>Instruction Manual</h2>
    <ul>
        <li><strong>Start Drawing:</strong> Click the left mouse button (LMB) on the drawing area to start drawing a line. Move the mouse to draw the line. Release LMB to finish the line.</li>
        <li><strong>Drawing Straight Lines:</strong> Hold down the Ctrl key to draw lines at right angles.</li>
        <li><strong>Switching Between Wall and Cable Drawing:</strong> Click the "Cable drawing" or "Wall drawing" button to switch between drawing modes. Black is for walls, and red is for cables.</li>
        <li><strong>Displaying Line Information:</strong> Click the "Show line label" button to display labels with information about the length and angle of the lines. Click again to hide them.</li>
        <li><strong>Modifying Lines:</strong> Hold down the Shift key and click LMB on the end of a line to move that end of the line.</li>
        <li><strong>Deleting Lines:</strong> Right-click (RMB) on a line to display the context menu with the option to delete the line.</li>
        <li><strong>Clearing the Drawing:</strong> Click the "Clear all" button to remove all elements.</li>
        <li><strong>Adding Elements:</strong> Click and drag an element from the toolbox onto the drawing area to add it to the drawing.</li>
        <li><strong>Moving Elements:</strong> Click LMB on an element in the drawing area and drag to move the element.</li>
        <li><strong>Removing Elements:</strong> Right-click on an element in the drawing area to display the "Delete" button. Click it to remove the element. You can also drag the element outside the drawing area.</li>
        <li><strong>Saving and Downloading the Schematic:</strong> You can download the current schematic by clicking the "Download Schematic" button.</li>
        <li><strong>Reviewing the Cart:</strong> Click the "Go to summary" button to go to the summary and see the selected devices.</li>
        <li><strong style="color:red;">Note:</strong> Remember that each networked device must have its own ethernet socket to which a separate cable from a device like a switch or router must be led. Only then will the application's calculations be close to real. The application will automatically add 10% to the length of the cable in the cost estimate to ensure a small surplus of cable.</li>
    </ul>
    </div>
</div>


    <h1 id="title"><span>You are drawing a wall</span></h1>
    <div class="canvas-container">
        <div id="button-container">
            <button id="toggleColorButton">Cable drawing</button>
            <button id="hideInfoButton">Show line label</button>
            <button id="clear_all">Clear all</button>
            <button id="downloadBtn">Download Schematic</button>
            <a href="/cart">
                <button id="calculateTotalLength" type="submit">Go to summary</button>
            </a>
            <button id="sumButton" hidden="hidden">Przejdź do podsumowania</button>
        </div>

        <canvas id="myCanvas" style="width: 100%; height: 100%;"></canvas>


        <div id="products-container">
            <div class="toolbox-item" draggable="true" data-type="printer"><img src="{% static 'icons\printer.png' %}"
                    alt="printer"></div>
            <p class="p">printer</p>
            <div class="toolbox-item" draggable="true" data-type="switch"><img src="{% static 'icons\switch.png' %}"
                    alt="switch">
            </div>
            <p>switch</p>
            <div class="toolbox-item" draggable="true" data-type="router"><img src="{% static 'icons\router.png' %}"
                    alt="router">
            </div>
            <p>router</p>
            <div class="toolbox-item" draggable="true" data-type="workstation"><img
                    src="{% static 'icons\workstation.png' %}" alt="workstation"></div>
            <p>workstation</p>
            <div class="toolbox-item" draggable="true" data-type="ethernet"><img src="{% static 'icons\ethernet.png' %}"
                    alt="ethernet socket">
            </div>
            <p>ethernet socket</p>
            <div class="toolbox-item" draggable="true" data-type="office_supplies"><img
                    src="{% static 'icons\office_supplies.png' %}" alt="office_supplies"></div>
            <p>office supplies</p>
            <div class="toolbox-item" draggable="true" data-type="console"><img src="{% static 'icons\console.png' %}"
                    alt="game console"></div>
            <p>game console</p>
            <div class="toolbox-item" draggable="true" data-type="tv"><img src="{% static 'icons\tv.png' %}"
                    alt="telewizor"></div>
            <p>TV</p>
            <div class="toolbox-item" draggable="true" data-type="desk"><img src="{% static 'icons\desk.png' %}"
                    alt="desk"></div>
            <p>desk</p>
            <div class="toolbox-item" draggable="true"><img src="{% static 'icons\door.png' %}" alt="door"></div>
            <p>door</p>
        </div>
        <div id="labelContainer"></div>
    </div>

</body>

</html>